quadcopter_sim/__pycache__/drone_body_box.cpython-310.pyc
quadcopter_sim/__pycache__/environment.cpython-310.pyc
quadcopter_sim/__pycache__/renderer.cpython-310.pyc
quadcopter_sim/__pycache__/simulation.cpython-310.pyc
quadcopter_sim/__pycache__/thrust.cpython-310.pyc
